[mysqld]
innodb=Off
innodb_file_per_table=On
default-storage-engine=myisam
default-tmp-storage-engine=myisam
innodb_doublewrite=Off
innodb_log_file_size=4M
innodb_log_files_in_group=2
innodb_fast_shutdown=0
innodb_file_format=Barracuda
innodb_large_prefix=on
